header,body {
					padding: 0;
					margin: 0;
				
				}
				
		body {
			background-color: #0a2342;}



			nav {
					background-color: #d3d3d3;
						margin: 0;
						padding: 0;
						box-sizing: border-box;
						display: flex;
							flex-direction: column;
								align-items: center;}

								nav > a {
									text-decoration: none;
										color: #0a2342;
											font-weight: 800;
												font-size: 32px;}

												nav ul {

								display: flex;
									flex-direction: column;
										align-items: center;
											list-style: none;
												padding: 0;
													width: 100%;}

													nav ul li {

												text-align: center;
													width: 100%;}
													
													nav ul i a {

											display: inline-block;
												padding: 10px 0;
													width: 100%;
														text-decoration: none;
															color: #ffd700;}
															nav {

			flex-direction: row;
			justify-content: space-around;

	}
	nav ul {

				flex-direction: row;
				width: 70%;

	}
			
			h1,h2,p {
				color: #d3d3d3;
				margin-left: 3%;
				margin-right: 3%;
			}
			h1{
				text-align: center;

			}
